APP_NAME=CargoPulse
APP_ENV=local
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost:8080

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=cargopulse
DB_USERNAME=cargopulse
DB_PASSWORD=cargopulse_lab_only

REDIS_HOST=redis
REDIS_PORT=6379
